<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
  <body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index">Agenda SECITEC</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
             <h5> <a class="nav-link" href="index">Home
                <span class="sr-only">(current)</span>
              </a></h5>
            </li>
            <li class="nav-item">
            <h5>  <%= link_to 'Adicionar Contato', new_contato_path, class: 'nav-link' %> </h5>
            </li>
            <li class="nav-item">
             <h5> <a class="nav-link" href="#">Contato</a> </h5>
            </li>
          </ul>
        </div>
      </div>
    </nav>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
             <h5> <a class="nav-link" href="index">Home
                <span class="sr-only">(current)</span>
              </a></h5>
            </li>
            <li class="nav-item">
            <h5>  <%= link_to 'Adicionar Contato', new_contato_path, class: 'nav-link' %> </h5>
            </li>
            <li class="nav-item">
             <h5> <a class="nav-link" href="visualizando">Visualizar</a> </h5>
            </li>
          </ul>
        </div>
      </div>
    </nav>



      <p id="notice"><%= notice %></p>

      <h1>Contatos</h1>

<div id="main-container" class="container-fluid">
    <div class="row">
     <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <div class="row">
           <tr>

         <div class="col-xs-6 col-md-4"><th>Nome</th></div>
         <div class="col-xs-6 col-md-4"><th>Endereco</th></div>
         <div class="col-xs-6 col-md-4"><th>E-mail</th></div>
         <div class="col-xs-8 col-md-4"><th>Data Nascimento</th></div>
         <div class="col-xs-6 col-md-4"><th colspan="3"></th></div>
          </div>

           </tr>
          </div>
        </thead>

        <tbody>
          <% @contatos.each do |contato| %>
           <div class="row">
            <tr>
             <div class="col-xs-6 col-md-4"> <td> <h6> <%= contato.nome %> </h6></td></div>
             <div class="col-xs-6 col-md-4"> <td> <h6><%= contato.endereco %> </h6></td></div>
             <div class="col-xs-6 col-md-4"> <td> <h6><%= contato.email %>  </h6></td></div>
             <div class="col-xs-6 col-md-4"> <td> <h6><%= contato.dataNascimento %> </h6></td></div>
             <div class="col-xs-6 col-md-4"> <td><%= link_to 'Visualizar', contato, class: "btn btn-link" %></td></div>
             <div class="col-xs-6 col-md-4"> <td><%= link_to 'Editar', edit_contato_path(contato), class: "btn btn-link" %></td></div>
             <div class="col-xs-6 col-md-4"> <td><%= link_to 'Deletar', contato, class: "btn btn-link", method: :delete, data: { confirm: 'Tem certezar que você quer deletar?' } %></td></div>

              </tr>
            </div>

          <% end %>
        </tbody>
       </table>
       </div>
      </div>
    </div>

      <div class="py-5 bg-dark">
          <div class="container-fluid">
              © 2015 Copyright: <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>
          </div>
      </div>

  </body>
</html>
