<%= form_with(model: contatoss, local: true) do |form| %>
  <% if contatoss.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contatoss.errors.count, "error") %> prohibited this contatoss from being saved:</h2>

      <ul>
      <% contatoss.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :contatoss_nome %>
  </div>

  <div class="field">
    <%= form.label :endereco %>
    <%= form.text_field :endereco, id: :contatoss_endereco %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :contatoss_email %>
  </div>

  <div class="field">
    <%= form.label :dataNascimento %>
    <%= form.date_select :dataNascimento, id: :contatoss_dataNascimento %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
